*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a:hover{
    color: white;
}

#blogy{
    font-weight: bold;
}
=======
    box-sizing: border-box;
    margin: 0;
}

img{width: 100%;}